In [1]:
#Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

In [2]:
sum=0
for i in range(10) :
    sum = sum+i
sum

45

In [4]:
sum=0
counter=0
while counter<=9:
    sum = sum+counter
    counter = counter +1
sum

45

In [7]:
n=int(input("enter the first n number"))
product=1
counter=1
while counter<=n:
    product = product*counter
    counter = counter+1
product

enter the first n number 9

362880

In [6]:
product=1
for i in range(1,10):
    product *=i
product

362880

In [1]:
##Q3

In [3]:
N = int(input("No. of units of electricity consumed in a month "))
if N<=100:
    cost = N*4.5
elif 100<N<=200:
    cost = 100*4.5 + (N-100)*6
elif 200<N<=300:
    cost = 100*(4.5+6) +(N-200)*10
else:
    cost = 100*(4.5+6+10)+(N-300)*20
print("cost" , "=" , cost)

No. of units of electricity consumed in a month  310

cost = 2250.0

In [4]:
##Q4

In [5]:
l = list(i**3 for i in range(101))
l1=[]
for i in l:
    if i%(4 or 5) == 0:
        l1.append(i)
print(l1)

[0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]

In [6]:
##5